
@import '../styles/mixins.scss';
.main {
  background-color: var(--dark-gray);
  height: 100vh;
  width: 100vw;
  padding:  4rem;
  @include flexbox(flex,center,center);
  flex-direction: column;

  &Error {
    width: 20rem;
    padding: 1rem;
    color: var(--red);
    text-align: center;
    overflow-wrap: break-word;
    @include shadowBlock;
   
  }

  @media (max-width: 576px) {
    padding:0;
  }

}