@import "../../../styles/mixins.scss";

.container {
  background-color: var(--light-gray);
  @include flexbox(flex, space-between, flex-start);
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  gap: 1rem;
  padding-top: 1rem;
  @media (max-width: 768px) {
    gap: 0.5rem;
    padding-top: 0.5rem;
  }
}
