:root {
  // colors
  --white: #ffffff;
  --black: #000000;
  --gray: #C2CBD1;
  --light-gray: #E6ECEF;
  --dark-gray: darkgray;
  --dark: #212229;
  --blue: #1493FE;
  --dark-blue: #0A508B;
  --green: green;
  --light-blue:#057AE3;

  // font - sizes 
  --smaller: 0.7rem;
  --small: 0.8rem;
  --medium: 1rem;
  --large: 1.5rem;

  // border - radius 
  --radius: 4px;
}

